# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Datasets and local directories
for-norm/
data/
norm_paths.txt

# Virtual environments
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db
